@import 'main';
@import 'sidebar';
@import 'buttonsBoostrap';
@import 'datatableBootstrap';
@import 'backToTop';

*{
    -moz-appearance: textfield
}

img {
    width: $imgSize;
}

.logoSize{
    width: $logoSize;
}

.jumbotronBg {
    background: url('../img/white-background.jpg') no-repeat center center;
    background-size: cover;
   // height: 50%;
}

.btnNavbar {
    &:hover {
        background-color: $blue;
        border-block: $blue;
    }
}


.carousel-inner img {
    margin: auto;
  }

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.cdelay-1 {
    animation-delay: .25s;
}

.cdelay-2 {
    animation-delay: .35s;
}

.cdelay-3 {
    animation-delay: .45s;
}

.cdelay-4 {
    animation-delay: 1s;
}

.grow {
    &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: .2s;
    }
}

table{
    width: 100%;
    td{
        white-space: nowrap !important;
        width: fit-content !important;
        padding: 2pt !important;
        vertical-align: middle !important;
    }
}

#selectFecha{
    cursor:pointer;
}

.popover {
    max-width: 600px;
  }
  
.card-mov{
    display: inline-block;
}


.borderless td, .borderless th {
    border: none;
}

.card-body {
    padding: .5rem !important;
}

#page-content-wrapper{
    background-image: url("/img/white-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.alert{
    padding: 0 !important;
    border-radius: .50rem !important;
}